/* Page fonts */ 
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* base style */
body,html{
    height: 100vh;
    overflow: hidden;
}
body{
    background: #F6F8F7;
    color: #243327;
    font-family: 'Work Sans'; 
    display: grid;
    grid-template-columns: 100% auto;
    margin: 0;
    overflow: auto;
}

/* scrollbar style */
body::-webkit-scrollbar{
    width: 1%;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
    height: 20%;
    background-color: rgb(206, 206, 206);
    border-radius: 20px;
}
body::-webkit-scrollbar-track {
    background-color: #F6F8F7;
}
body::-webkit-scrollbar-track-piece {
    height: 20%;
}

.PassBtn{
    cursor: pointer;
    width: 78.27px;
    height: 100%;
    border: none;
    border-left: 1px solid #C1C8C2;
    background: #F3F6F4;
    opacity: 0.76;
}

.PassBtnText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78.27px;
    border: none;
    background: #F3F6F4;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
}

@media only screen and (max-width: 300px) {
    .PassBtn{
        width: 60px;
    }
    .PassBtnText{
        width: 100%;
        font-size: 12px;
        text-align: center
    }

  }